body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.alert.notifications {
  position: absolute !important;
  left: 12.5vw;
  top: 0.4em;
  width: calc(100vw - 25vw);
  z-index: 2000;
}

.modal {
  display: block !important;
}

.dev-panel {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2000;
  display: flex;
  flex-direction: row;
  border: 1px #444 solid;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5em 1em;
  justify-content: space-between;
  width: 20em;
  align-items: center;
}

.popover {
  background: #fff;
  padding: 0.1em;
  border-radius: 15px;
}
